

.reviewContainer {

border: black 1px solid;

}

.reviewForm {
	padding: 1em;
}


h1{
	padding-left: 1em;
}

nav li{

display: inline-block;
width: 20%;
margin: 0;
text-align: center;
padding: 0;

}

nav{
	border: black 1px solid;
	margin: 1em;
}

