*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.box{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;

	flex-wrap: wrap;

	border: black 1px dashed;
	margin-top: 1em;

}


.reviewContainer {

border: black 1px solid;

}

.reviewForm {
	padding: 1em;
}

.box-item-nav {
	flex-grow: 1;
	text-align: center;

}

body {
  font-family: 'Lato', sans-serif;
  padding: 1rem;
}

nav a, nav a:visited {
	display: inline-block;
	background-color: blue;
	color: #FFFFFF;
	padding: 1em 1.25em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
	width: 100%;

}


nav a.green {
	background-color: green;
}


nav a.orange {
	background-color: orange;
}


nav a.purple {
	background-color: purple;
}


nav a.red {
	background-color: red;
}


nav a:hover, nav a:active, nav a:focus {
	background-color: gray;
	color: white;
}


h1{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	padding-left: 1em;
}


.box-item-coach {
	flex-grow: 1;
	text-align: center;

}

.productContainer {

border: 1px solid black;
margin: 1em;
}

.productImage {

border: 1px solid black;
margin: 1em;
display: inline-block;
width: 20%;
}

.productDescription {

border: 1px solid black;
margin: 1em;
display: inline-block;
width: 70%;

}

.productReviews {

border: 1px solid black;
margin: 1em;
width: 90%;

}

.contactContainer {
    margin-left:auto;
    margin-right:auto;
    margin-top: 1em;
    width: 100%;

    background: rgba(27,117,187,1);
    padding: 20px 20px 20px 20px;
    font-family: 'Lato', sans-serif;
    color: #fff;
}
.contactContainer h1 {
    font-family: 'Lato', sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: rgba(27,117,187,1);
    border-bottom: 1px solid #528dca;
    margin: -20px -20px 15px;
}
.contactContainer h1>span {
    display: block;
    font-size: 0.75em;
}

.contactContainer label>span {
    float: left;
    margin-top: 10px;
    color: #fff;
}
.contactContainer label {
    display: block;
    margin: 0px 0px 5px;
}
.contactContainer label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.contactContainer input[type="text"], .contactContainer input[type="email"], .contactContainer textarea, .contactContainer select {
    color: #000;
    width: 70%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    font-family: 'Lato', sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}
.contactContainer textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}


