*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
.box{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;

	flex-wrap: wrap;

	border: black 1px dashed;
	margin-top: 1em;


}

.reviewContainer {

border: black 1px solid;

}

.reviewForm {
	padding: 1em;
}

.box-item-nav {
	flex-grow: 1;
	text-align: center;

}

body {
  font-family: 'Lato', sans-serif;
  padding: 1rem;
}

nav a, nav a:visited {
	display: inline-block;
	background-color: blue;
	color: #FFFFFF;
	padding: 1em 1.25em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
	width: 100%;
}


nav a.green {
	background-color: green;
}


nav a.orange {
	background-color: orange;
}


nav a.purple {
	background-color: purple;
}


nav a.red {
	background-color: red;
}


nav a:hover, nav a:active, nav a:focus {
	background-color: gray;
	color: white;
}


h1{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	padding-left: 1em;
}

.box-item-coach {
	display: inline-block;
}

.box-item-coach-img {
	flex-grow: 1;
	flex-basis: 200px;
	display: inline-block;
	
}

.box-item-coach-txt {
	flex-grow: 2;
	flex-basis: 20em;
	display: inline-block;

}
